<div class="row">
  <div class="col s12">
                    
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header gflores" style="color:#FFF;"><i class="material-icons">live_help</i>&iquest;Como obtengo las coordenadas?.</div>
        <div class="collapsible-body">
          <div class="collection">
            <div class="collection-item">Paso 1: Ir a la siguiente enlace
              <a href="http://www.latlong.net" target="_BLANK">www.latlong.net</a>
            </div>
            <div class="collection-item">Paso 2: En el formulario escribe el nombre de la ciudad y presiona el bot&oacute;n "FIND".
              <img src="images/help/location1.png" style="width:100%"/>
            </div>
            <div class="collection-item">Paso 3: En el mapa que aparece ubica la direccion de la cual deseas obtener las coordenadas y clica sobre la misma.
              <img src="images/help/location2.png" style="width:100%"/>
            </div>
            <div class="collection-item">Paso 4: Copia la coordenadas que aparecen en la parte inferior (Lat y Long) y pegalas en el correspondiente campo del formulario.
              <img src="images/help/location3.png" style="width:100%"/>
            </div>
          </div>
        </div>
      </li>
    </ul>
    
  </div>
</div>