<nav>
	<div class="nav-wrapper gflores">
	  <a href="#" class="brand-logo" style="height:100%;padding:10px;"><img src="images/corporacionflores.png" alt="" style="height:100%;"></a>
	  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
	  <!--MENU MOBILE-->
	  <ul id="nav-mobile" class="right hide-on-med-and-down">
	    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Menu<i class="material-icons right">arrow_drop_down</i></a></li>
	  </ul>
	  <!--DROP MENU-->
	  <ul id="dropdown1" class="dropdown-content" style="min-width:250px;">
	    <li><a href="main.php" style="color:#000 !important;">Promociones</a></li>
	     <li class="divider"></li>
	    <li><a href="ads.php" style="color:#000 !important;">Publicidad</a></li>
	    <li class="divider"></li>
	    <li><a href="news.php" style="color:#000 !important;">Noticias</a></li>
	    <li class="divider"></li>
	    <li><a href="vehiculos.php" style="color:#000 !important;">Vehiculos</a></li>
	    <li class="divider"></li>
	    <li><a href="locations.php" style="color:#000 !important;">Ubicaciones agencias</a></li>
	    <li class="divider"></li>
	    <li><a href="pagos_locations.php" style="color:#000 !important;">Ubicaciones pagos</a></li>
	    <li class="divider"></li>
	    <li><a href="configurations.php" style="color:#000 !important;">Configuraciones</a></li>
	     <li class="divider"></li>
	    <li><a href="logout.php" style="color:#000 !important;">Cerrar sesi&oacute;n</a></li>
	  </ul>
	  <ul class="side-nav" id="mobile-demo"><!--MENU MOBILE-->
	    <li><a href="main.php" style="color:#000 !important;">Promociones</a></li>
	     <li class="divider"></li>
	    <li><a href="ads.php" style="color:#000 !important;">Publicidad</a></li>
	    <li class="divider"></li>
	    <li><a href="news.php" style="color:#000 !important;">Noticias</a></li>
	    <li class="divider"></li>
	    <li><a href="vehiculos.php" style="color:#000 !important;">Vehiculos</a></li>
	    <li class="divider"></li>
	    <li><a href="locations.php" style="color:#000 !important;">Ubicaciones agencias</a></li>
	    <li class="divider"></li>
	    <li><a href="pagos_locations.php" style="color:#000 !important;">Ubicaciones pagos</a></li>
	    <li class="divider"></li>
	    <li><a href="configurations.php" style="color:#000 !important;">Configuraciones</a></li>
	     <li class="divider"></li>
	    <li><a href="logout.php" style="color:#000 !important;">Cerrar sesi&oacute;n</a></li>
	  </ul>
	</div>
</nav><!--FIN MENU-->